<!DOCTYPE html>
<html lang="eng">
	<head>
	<title>Expenses Calculator by Albert Huynh</title>
		<meta charset="utf-8">
		<script src="javascripts/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="javascripts/parse-1.6.7.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>

	<body>
		<center><h1>Welcome to the Expense Calculator</h1></center>
		<center><small>by albert huynh</small></center>
		<br>

		<div class="container">
			<!-- BEGIN: ROW #1 -->
			<div class="row">
				<!-- BEGIN: LEFT COLUMN -->
				<div class="col-md-3">
					<div class="well divfixedheight">
						<div class="form-group">
							<div class="divTitle">Add an expense</div>
						</div>
						<div class="form-group">
							<label for="expense">Expense</label>
							<input type="text" class="form-control input-sm" name="expense" id="expense" placeholder="Enter short description of expense">
						</div>
						<div class="form-group">
							<label for="cost">Cost</label>
							<input type="number" class="form-control input-sm" name="cost" id="cost" placeholder="Enter cost of expense">
						</div>
						<div class="form-group">
							<label for="category">Category</label> 
							<select name="category" class="form-control input-sm" id='category'>
									<option selected disabled hidden value=''>Select a category</option>
									<option value="debt">Debt</option>
									<option value="food">Food</option>
									<option value="pet">Pet</option>
									<option value="recreation">Recreation</option>
									<option value="transportation">Transportation</option>
							</select>
						</div>
						<div class="form-group">
							<label for="date">Date</label>
							<input type="date" class="form-control input-sm" name="expenseDate" id="expenseDate" placeholder="Enter the date of expense">
						</div>
						<div class="form-group">
							<button class="btn btn-default" id="add">Add Expense</button>
						</div>
					</div>
				</div>
				<!-- END: LEFT COLUMN -->

				<!-- BEGIN: MIDDLE COLUMN -->
				<div class="col-md-3">
					<div class="well divfixedheight">
						<div class="form-group">
							<div class="divTitle">Filter Expenses</div>
						</div>
						<div class="form-group">
							<label for="calc_category_total"><u>By Category</u></label>
							<br>
							<select name="categoryForTotal" id='categoryForTotal'>
										<option selected disabled hidden value=''>Select a category</option>
										<option value=""></option>
										<option value="debt">Debt</option>
										<option value="food">Food</option>
										<option value="pet">Pet</option>
										<option value="recreation">Recreation</option>
										<option value="transportation">Transportation</option>
							</select>
						</div>
						<div class="form-group">
							<label for="calc_date_total"><u>By Date</u></label>
							<br>
							<table id="filterTable">
								<tr>
									<td><b>From</b>:</td>
									<td></td>
									<td><input type="date" name="fromDate" id="fromDate" class="dateDropdownResize"></td>
								</tr>
								<tr>
									<td><b>To</b>:</td>
									<td></td>
									<td><input type="date" name="toDate" id="toDate" class="dateDropdownResize"></td>
								</tr>
							</table>
						</div>
						<div class="form-group">
							<button class="btn btn-primary" id="filtered_total_btn">Calculate</button>
						</div>
						<div class="form-group">&nbsp;</div>
						<div id="displayTotal"></div>
					</div>
				</div>
				<!-- END: MIDDLE COLUMN -->

				<!-- BEGIN: RIGHT COLUMN -->
				<div class="col-md-6" id="expenseDisplay">
					<div class="well">
						<h2>Expenses</h2>
						<div id="displayAllExpenses"></div>
						<button class="btn btn-default" id="save">Save List</button>
					</div>
				</div>
				<!-- END: RIGHT COLUMN -->
			</div>
			<!-- END: ROW #1 -->
		</div>

	<script src="javascripts/albertsfunctions.js"></script>
	<script src="javascripts/expense.js"></script>
	</body>
</html>